*{
    margin: 0;
    padding: 0;
}
.cls-alineacion-centro{
    display:flex;
    justify-content: center;
    align-items: center;
}
.cls-alineacion-columnas{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:10px;
}
.cls-alineacion-btnStickers{
    padding-bottom: 10px;
}
div>button{
    margin: 10px;
}
.cls-formato-borde{
    padding: 10px;
    border:black solid 2px;
}
.cls-tamannio-imagen{
    width:100px;
    height: 100px;
}
.cls-ancho-input{
    width:100px;
}
.cls-alineacion-titulo-pass{
    padding:20px;
}